.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container__item {
    background-color: #6d6d6d;
    padding: 20px;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}